#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homepage-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.homepage-header h1 {
  color: #1625ff;
}

.homepage-main {
  margin-top: 40px;
}

.introduction, .features {
  margin-bottom: 30px;
}

.homepage-footer {
  margin-top: 50px;
  color: #888;
  font-size: 0.9em;
}

